---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.svelte";
import { getGistData } from "@/utils/getGist";

const gistData = getGistData();
const gistCreatedAt = gistData.created_at;
const gistUpdatedAt = gistData.updated_at;
const bookmarks = JSON.parse(gistData.files["bookmarks.json"].content);

const props = {
  title: "",
  description: "",
  image: "home",
};

// Function to group bookmarks by folder
function groupByFolder(bookmarks: any) {
  return bookmarks.reduce((acc, bookmark) => {
    const folder = bookmark.folder || "Unsorted";
    if (!acc[folder]) acc[folder] = [];
    acc[folder].push(bookmark);
    return acc;
  }, {});
}

const groupedBookmarks = groupByFolder(bookmarks);
---

<Layout {...props}>
  <div data-bookmark-page>
    <aside data-sidebar>
      <nav>
        <ul>
          {
            Object.keys(groupedBookmarks).map((folder) => (
              <li>
                <Link href={`#${folder}`}>{folder}</Link>
              </li>
            ))
          }
        </ul>
      </nav>
    </aside>
    <main>
      <div>
        <h2>Bookmarks</h2>
        <small>
          Last updated on
          <time datetime={gistUpdatedAt}>{gistUpdatedAt}</time>
        </small>
      </div>
      <div>
        {
          Object.entries(groupedBookmarks).map(([folder, items]) => (
            <>
              <h3 id={folder}>{folder}</h3>
              <div data-bookmarks>
                <Card items={items} />
              </div>
            </>
          ))
        }
      </div>
    </main>
  </div>
</Layout>
