---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.svelte";
import { dataTable } from "../styles/data.css";
import { authorUrl, repoURL } from "../utils/meta";
import humanizeUrl from "humanize-url";

const props = {
  title: "",
  description: "My personal website",
};

const age = new Date().getFullYear() - 2002;

const projects = [
  {
    title: `${humanizeUrl(authorUrl)}`,
    site: `${authorUrl}`,
    repo: `${repoURL}`,
  },
  {
    title: `${humanizeUrl("https://1biblestudy.jacobdalamb.dev/")}`,
    description: "All-in-one Bible study tool",
    site: "https://1biblestudy.jacobdalamb.dev/",
  },
  {
    title: "1Bookmark (soon)",
    description: "All-in-one bookmark manager",
  },
];
---

<Layout {...props}>
  <main>
    <h1>Hey, I'm Jacob Lamb.</h1>
    <p>
      I'm {age} y/o and I'm a self-taught developer. I'm currently studing Web
      Design and Development at <Link
        set:text="Palomar College"
        href="https://www.palomar.edu/"
      />. I like <Link
        set:text="reading"
        href="https://literal.club/jacobthelamb"
      />
       and playing games.
    </p>
    <span>
      <Link href="https://read.cv/jacobthesheep">view my resume</Link>
    </span>
    <section>
      <h2>Projects</h2>
      <div class:list={dataTable}>
        <Card items={projects} />
      </div>
    </section>
  </main>
</Layout>
