---
import Layout from "../layouts/Default.astro";
import Link from "../components/Link.astro";
import { authorUrl, repoURL, description } from "../utils/meta";
import humanizeUrl from "humanize-url";

const props = {
  title: "",
  description: "My personal website",
};

const age = new Date().getFullYear() - 2002;

const projects = [
  {
    title: `${humanizeUrl(authorUrl)}`,
    description: `${description}`,
    site: `${authorUrl}`,
    repo: `${repoURL}`,
  },
  {
    title: "1Bookmark (soon)",
    description: "All-in-one bookmark manager",
  },
];

const shortIntro = `I'm a ${age} y/o, self-taught developer who enjoys <a href='https://literal.club/jacobthelamb' rel='external'>reading</a> and playing games.`;
---

<Layout {...props}>
  <main>
    <h1 set:text="Hey, I'm Jacob Lamb." />
    <p set:html={shortIntro} />
    <section id="projects">
      <h2>Projects</h2>
      <div>
        {
          projects.map((item) => (
            <div>
              <div>
                <p>
                  {item.site ? (
                    <Link href={item.site} set:text={item.title} />
                  ) : (
                    <span>{item.title}</span>
                  )}
                </p>
              </div>
              {item.description && (
                <div>
                  <p>{item.description}</p>
                </div>
              )}
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
