---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import { dataTable, dataCard, dataCardContent } from "../styles/data.css";
import { authorUrl, repoURL, description } from "../utils/meta";
import humanizeUrl from "humanize-url";

const props = {
  title: "",
  description: "My personal website",
};

const age = new Date().getFullYear() - 2002;

const projects = [
  {
    title: `${humanizeUrl(authorUrl)}`,
    description: `${description}`,
    site: `${authorUrl}`,
    repo: `${repoURL}`,
  },
  {
    title: `${humanizeUrl("https://1biblestudy.jacobdalamb.dev/")}`,
    description: "All-in-one Bible study tool",
    site: "https://1biblestudy.jacobdalamb.dev/",
  },
  {
    title: "1Bookmark (soon)",
    description: "All-in-one bookmark manager",
  },
];

const rawHTMLString = `I'm a ${age} y/o, self-taught developer. I'm currently studying Web Design and Development at <a href='https://www.palomar.edu/' rel='external'>Palomar College</a>. I like <a href='https://literal.club/jacobthelamb' rel='external'>reading</a> and playing games.`;
---

<Layout {...props}>
  <main>
    <h1>Hey, I'm Jacob Lamb.</h1>
    <p set:html={rawHTMLString} />
    <span>
      <Link href="https://read.cv/jacobdalamb" set:text="view my resume" />
    </span>
    <section>
      <h2>Projects</h2>
      <div class:list={dataTable}>
        {
          projects.map((item) => (
            <div class:list={dataCard}>
              <div>
                <p>
                  {item.site ? (
                    <Link href={item.site} set:text={item.title} />
                  ) : (
                    <span>{item.title}</span>
                  )}
                </p>
              </div>
              {item.description && (
                <div class:list={dataCardContent}>
                  <p>{item.description}</p>
                </div>
              )}
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
