---
import Layout from "../layouts/Default.astro";
import Link from "../components/Link.astro";
import { dataTable } from "../styles/data.css";
import dayjs from "dayjs";
import uses from "../../public/files/uses.json";
const categories = Object.keys(uses);

const props = {
  title: "",
  description: "My personal website",
};

const rawHTMLString = `Things that I use on an almost daily basis.`;
const lastUpdated = new Date("Decemeber 04, 2023");
---

<Layout {...props}>
  <main>
    <p>
      Last updated: <time datetime={`${lastUpdated}`}
        >{dayjs(lastUpdated).format("YYYY-MM-DD")}</time
      >
    </p>
    <h1 set:text="Uses" />
    <p set:html={rawHTMLString} />
    <section>
      <div class:list={dataTable}>
        {
          categories.map((category) => (
            <div>
              <ul>
                <li>
                  <h3
                    set:text={
                      category.charAt(0).toUpperCase() + category.slice(1)
                    }
                  />
                </li>
                <ul>
                  {uses[category as keyof typeof uses].map((item) => (
                    <li>
                      {"link" in item ? (
                        <Link href={item.link} set:text={item.name} />
                      ) : (
                        item.name
                      )}{" "}
                      {"category" in item ? (
                        <Fragment set:text={`- ${item.category}`} />
                      ) : null}
                    </li>
                  ))}
                </ul>
              </ul>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
