---
import Layout from "../layouts/Default.astro";
import Link from "../components/Link.astro";
import dayjs from "dayjs";
import uses from "../../public/files/uses.json";
import { getGistData } from "@/utils/getGist";
const categories = Object.keys(uses);

const props = {
  title: "",
  description: "My personal website",
};

const rawHTMLString = `Things that I use on an almost daily basis.`;
const lastUpdated = new Date("Decemeber 04, 2023");

interface UseItem {
  name: string;
  link?: string;
  category?: string;
  more?: Array<{ [key: string]: string }>;
}

const gistData = await getGistData();
let installedApps: any[] = [];
const fileName = "installed-apps.txt";
if (
  gistData?.files &&
  gistData.files[fileName] &&
  typeof gistData.files[fileName].content === "string"
) {
  installedApps = gistData.files[fileName].content.split("\n");
} else {
  console.error(`Could not find ${fileName} in gist data`);
}
---

<Layout {...props}>
  <main>
    <p>
      Last updated: <time datetime={`${lastUpdated}`}
        >{dayjs(lastUpdated).format("YYYY-MM-DD")}</time
      >
    </p>
    <h1 set:text="Uses" />
    <p set:html={rawHTMLString} />
    <section id="uses">
      <ul>
        {
          categories.map((category) => (
            <>
              <li>
                <h3
                  set:text={
                    category.charAt(0).toUpperCase() + category.slice(1)
                  }
                />
              </li>
              <ul>
                {uses[category as keyof typeof uses].map((item: UseItem) => (
                  <li set:text={item.name} />
                ))}
              </ul>
            </>
          ))
        }
        <li>
          <h3 set:text="Apps" />
          <ul>
            {
              installedApps.map((app) => (
                <li>
                  <Link
                    set:text={app}
                    target="_blank"
                    href={`https://www.google.com/search?q=${app}`}
                  />
                </li>
              ))
            }
          </ul>
        </li>
      </ul>
    </section>
  </main>
</Layout>
