---
import "../styles/global.css";
import "@fontsource/rubik/variable.css";
import Link from "../components/Link.astro";
const { title, description, image } = Astro.props as PageMeta;
const completeTitle = `${title}`;
const socialImageURL = new URL(`/assets/images/og/${image}.png`, Astro.url);
let thisYear = `${new Date().getFullYear()}`;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,viewport-fit=cover"
        />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.webp" />
        <meta name="generator" content={Astro.generator} />
        <title>{completeTitle}</title>
        <meta name="author" content="Jacob Lamb" />
        <link rel="author" href="https://jtlamb.dev/" />
        <meta name="description" content={description} />
        <meta name="color-scheme" content="light dark" />
        <meta property="og:title" content={completeTitle} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content={socialImageURL} />
        <meta name="twitter:title" content={completeTitle} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content={socialImageURL} />
        <script
            async
            src="https://kit.fontawesome.com/062ee3baff.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <slot id="slot-container" />
        <footer>
            <small>
                Jacob Lamb | <time datetime="2020">2020</time> - <time
                    datetime={thisYear}>{thisYear}</time
                >
            </small>
        </footer>
    </body>
</html>

<style>
    footer {
        position: absolute;
        bottom: 0.15em;
        padding-bottom: var(--size-fluid-1);
        display: grid;
        gap: var(--size-fluid-1);
    }
</style>
