---
import "../styles/base.css";
import "@fontsource/rubik/variable.css";
import "open-props/style";
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicons/apple-touch-icon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="author" content="Jacob Lamb" />
    <meta name="description" content={description} />
    <meta name="robots" content="index,follow" />
    <meta name="color-scheme" content="light dark" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://jacoblamb.me/favicons/favicon-16x16.png"
    />
    <meta property="og:image:alt" content="website icon" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content="https://jacoblamb.me" />
    <meta name="twitter:image" content="/favicons/favicon-16x16.png" />
    <meta name="twitter:image:alt" content="website icon" />
    <meta name="twitter:creator" content="@jacob_thesheep" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      sizes="32x32"
      type="image/png"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      sizes="16x16"
      type="image/png"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="mask-icon"
      sizes="any"
      href="/favicons/apple-touch-icon.svg"
      color="#1e293b"
    />
    <script
      async
      src="https://kit.fontawesome.com/062ee3baff.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <slot />
    <footer>
      <div>
        <a
          data-text="email me"
          class="tooltip"
          href="mailto:jacobtlamb@hey.com"
          rel="noreferrer"
          ><i role="button" class="fa-solid fa-envelope-square fa-2x"></i>
        </a>

        <a
          data-text="tweet me"
          class="tooltip"
          href="https://twitter.com/jacob_thesheep"
          rel="noreferrer"
          ><i role="button" class="fa-brands fa-twitter-square fa-2x"></i>
        </a>

        <a
          data-text="develop with me"
          class="tooltip"
          href="https://github.com/jacobthesheep"
          rel="noreferrer"
        >
          <i role="button" class="fa-brands fa-github-square fa-2x"></i>
        </a>
      </div>
      <p>
        Jacob Lamb | 2020 - {new Date().getFullYear()}
      </p>
    </footer>
  </body>
</html>

<style>
  footer {
    position: absolute;
    bottom: 0;
    padding-bottom: var(--size-fluid-1);
    display: grid;
    gap: var(--size-fluid-1);
  }
  div {
    display: grid;
    gap: var(--size-fluid-1);
    grid-auto-flow: column;
    max-width: var(--size-13);
  }
  div:hover a {
    opacity: 0.3;
  }
  p {
    font-size: var(--font-size-fluid-0);
  }
  .tooltip {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    height: 32px;
    width: 34px;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
  }
  .tooltip:hover,
  .tooltip:focus-visible {
    opacity: 1;
    border: 2px solid var(--c-tooltip);
    min-width: fit-content;
    width: 120px;
    padding-right: 1rem;
    background-color: var(--c-tooltip);
    color: var(--c-bg);
    transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
  }
  .tooltip:focus-visible {
    outline: 1px solid var(--c-tooltip);
    outline-offset: 4px;
  }
  .tooltip:after {
    content: attr(data-text);
    margin-left: 12px;
    animation: fadeIn 600ms linear forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media (prefers-color-scheme: dark) {
    /* i {
      color: var(--c-text);
    }
    .tooltip:hover i {
      color: var(--c-bg);
    } */
  }
</style>
